html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background: #eee;
    max-width: 900px;
    padding: 15px;
    margin: 0 auto;
}